h1 {
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 150;
    font-size: 3em;
    margin-left: 40px;
    text-align: center;
}

.leftside_image {
  float: left;
  margin-top:0px;
  margin-right: 40px;
  margin-left: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

body {
    margin: 50px auto;
    width: 55%;
}

nav ul, footer ul {
    text-align: center;
    padding-bottom: 20px;
}

nav ul li, footer ul li {
    font-family: ibm-plex-sans-thin, sans-serif;
    font-style: normal;
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-weight: 300
    color: #4B0082; // indigo
}

a:hover {
    opacity:0.8;
    color: #4B0082; // indigo
}

a:visited {
    text-decoration: none;
    color: #4B0082; // indigo
}

p {
    /* font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: ibm-plex-sans, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.4em;
}

object {
    pointer-events: none;
}



.icon {
  margin-left: 10px;
  display:inline;
  color-fill: #4B0082;
}

svg {
  margin-left: 10px;
  display:inline;
  color-fill: #4B0082;
}

footer {
    margin-top: 50px;
    /* border-top: 1px solid #d5d5d5; */
    text-align: right;
    font-family: ibm-plex-sans-thin, sans-serif;
    font-style: normal;
    font-size: .8em;
    color: #999999;
    font-weight:lighter;
}

ul li{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    font-size:1em;
    line-height: 1.5em;
    list-style-type: circle;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/*for responsive square grid*/

.c-container{
    height:100%;
    margin-top:50px;
    white-space:nowrap;
    background-color:#FFFFFF;
    font-size:0;
}

/*.c-squares{
    width:30vh;
    height:30vh;
    display:inline;
}*/

.c-link{
    position:relative;
    display:inline-block;
    height:30vh;
    width:30vh;
    font-size:small;
}
.c-thumb{
    height:30vh;
    width:30vh;
    margin:0;
}

.c-name{
    z-index:5;
    background-color:#14277D;
    opacity:0;
    /* cosmetic */ color:#FFF;font-size:2em;transition:opacity 500ms;
}
.c-name2{
    z-index:5;
    background-color:#000;
    opacity:0;
    /* cosmetic */ color:#FFF;font-size:2em;transition:opacity 500ms;
}

.c-link:hover .c-name{
    opacity:0.8;
}

.c-link:hover .c-name2{
    opacity:0.8;
}

/* used class from site css */
br.empty{
    display:block;
    font-size:0;margin:0;padding:0;height:0;line-height:0;
}

.stm{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    margin:0;
}
