.main_image {
  float: left;
  margin-top:0px;
  margin-right: 40px;
  margin-left: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.poem_vert_image {
  margin-top:0px;
  margin-right: 40px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  width: 200px;
  height: 250px;
}


.poem_hori_image {
  margin-top:0px;
  margin-right: 40px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  width: 250px;
  height: 200px;
}

.icon {
  margin-left: 10px;
  display:inline;
  color-fill: #4B0082;
}

h1 {
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 150;
    font-size: 3em;
    margin-left: 40px;
    text-align: center;
}

h2 {
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 1.75em;
}

h3 {
    font-family: ibm-plex-sans, sans-serif;
    font-style: normal;
    font-weight: 150;
    font-size: 1.2em;
}

body {
    margin: 50px auto;
    width: 55%;
}

a {
    text-decoration: none;
    font-weight: 300
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    opacity:0.8;
    color: #8F5E99;
}

a:visited {
    text-decoration: none;
}

p {
    font-family: ibm-plex-sans, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.1em;
}

.image-caption {
    font-family: ibm-plex-sans, sans-serif;
    font-weight: lighter;
    font-size: 0.5em;
}

object {
    pointer-events: none;
}

svg {
  margin-left: 10px;
  display:inline;
  color-fill: #4B0082;
}

ul, li, a {
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 300;
    color: #000000;
}

blockquote {
    font-family: ibm-plex-sans, sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #555555;
    border-left: 3px solid #8F5E99;
    margin: 20px 0;
    padding-left: 15px;
}

th, td {
    font-family: ibm-plex-sans, sans-serif;
    white-space: nowrap;
    text-align: left;
}

th {
    font-weight: 400;
    color: #8F5E99;
}
td {
    font-weight: lighter;
}

footer {
    margin-top: 50px;
    text-align: right;
    font-family: ibm-plex-sans-thin, sans-serif;
    font-style: normal;
    font-size: .8em;
    color: #999999;
    font-weight:lighter;
}

nav ul, footer ul {
    text-align: center;
    padding-bottom: 20px;
}

nav ul li, footer ul li {
    font-family: ibm-plex-sans-thin, sans-serif;
    font-style: normal;
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}
